<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<target name="idempiere-12-bouncy-castle" sequenceNumber="20250807">
            
    
    
    <locations>
                        	
	
        
        
        <!-- org.bouncycastle -->
        	    
        <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
            		    
            <dependencies>
                			    
                <dependency>
                    				    
                    <groupId>org.bouncycastle</groupId>
                    				    
                    <artifactId>bcpg-jdk18on</artifactId>
                    				    
                    <version>1.81</version>
                    				    
                    <type>jar</type>
                    			    
                </dependency>
                		    
            </dependencies>
            	    
        </location>
        	    
        <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
            		    
            <dependencies>
                			    
                <dependency>
                    				    
                    <groupId>org.bouncycastle</groupId>
                    				    
                    <artifactId>bcmail-jdk18on</artifactId>
                    				    
                    <version>1.81</version>
                    				    
                    <type>jar</type>
                    			    
                </dependency>
                		    
            </dependencies>
            	    
        </location>
            
    </locations>
            


</target>
